<aside class="admin-sidebar">
    <div class="admin-sidebar-logo">
        <img src="images/GERAL CAR.png" alt="longo">
        <span>Painel Admin</span>
    </div>

    <nav class="sidebar-menu">
        <button class="sidebar-item active">
            <span class="app-icon">directions_car</span>
            Veículos
        </button>
        <button class="sidebar-item">
            <span class="app-icon">chat_bubble</span>
            Depoimentos
        </button>
    </nav>

    <div class="admin-logout">
        <button class="sidebar-item">
            <span class="app-icon">logout</span>
            Sair
        </button>
        <button class="sidebar-item">
            <span class="app-icon">open_in_new</span>
            Ver site
        </button>
    </div>
</aside>