<header class="header">
  <div class="container header-inner">
    <button class="logo" routerLink="/">
      <img src="images/GERAL CAR.png" alt="">
    </button>
    <nav class="nav">
      <a class="nav-link active" href="#home">Início</a>
      <a class="nav-link" href="#catalog">Catálogo</a>
      <a class="nav-link" href="#testimonials">Depoimentos</a>
    </nav>
    <div class="header-actions">
      <button class="btn btn-ghost btn-sm">
        <span class="app-icon">admin_panel_settings</span>
        Admin
      </button>
    </div>
  </div>
</header>
