<section class="hero">
  <div class="container hero-inner">
    <div class="hero-tag">
      <span class="app-icon">verified</span>
      Estoque verificado e atualizado
    </div>
    <h1>
      Encontre o carro<br />
      <em>dos seus sonhos</em><br />
      na Geral Car.
    </h1>
    <p>Veículos selecionados com especificações completas e contato direto com o
      vendedor via WhatsApp.</p>

    <div class="search-box" id="hero-search-box">
      <app-selector-input
        [options]="anos()"
        placeholder="Qualquer ano"
        icon="calendar_today"
        (valueChange)="onYearChange($event)"/>

       <app-selector-input
        [options]="combustiveis()"
        placeholder="Combustível"
        icon="local_gas_station"
        (valueChange)="onYearChange($event)"/>

      <button class="btn btn-primary btn-lg">
        <span class="app-icon">search</span> Pesquisar
      </button>
    </div>

    <div class="hero-stats">
      <div class="stat-item">
        <span class="stat-num">{{ totalVeiculos() }}</span>
        <span class="stat-label">Veículos no estoque</span>
      </div>
      <div class="stat-item">
        <span class="stat-num">100%</span>
        <span class="stat-label">Verificados</span>
      </div>
      <div class="stat-item">
        <span class="stat-num">WhatsApp</span>
        <span class="stat-label">Contato direto</span>
      </div>
    </div>
  </div>
</section>
