<section class="featured-vehicles">
  <div class="container">
    <div class="section-header">
      <div>
        <h2>Destaques do Estoque</h2>
        <p>Os melhores veículos selecionados para você</p>
      </div>
      <button class="btn btn-outline">Ver todos <span
          class="icon">arrow_forward</span></button>
    </div>
    @if (veiculos().length > 0) {

    <div class="vehicle-grid">
      @for (item of veiculos(); track item.id) {
      <app-vehicle-card [veiculo]="item"></app-vehicle-card>
      }
    </div>

    } @else {

    <div class="empty-state">
      <h2>Nenhum veículo disponível</h2>
      <p>Volte mais tarde ou ajuste os filtros.</p>
    </div>

    }
  </div>
</section>
