@use 'variables' as *;

.admin-main {
  background: $surface;
  padding: 32px;

  .admin-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    h1 {
      font-size: 24px;
      font-weight: 800;
    }

    p {
      font-size: 14px;
      color: $slate-500;
    }
  }

  
}